{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <h5>Already have account? <a href='/login'>Login</a></h5>
    <h2>Sign up</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text != "<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>" %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}