{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% if user.username == "" %}
                <p>Hello!<a href="{% url 'blog:login' %}"> Login </a> or <a href='/signup/'> Sign up </a></p>
            {% else %}
                Hello, <b>{{request.user.username}}</b>!<a href="{% url 'blog:logout' %}"> Logout </a><br>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <p><h4>Text:</h4></p>
                <p><textarea name="text"></textarea></p>
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
