{% load staticfiles %}
<html>
    <title>My Site</title>
    <head>
    <div class="page-header">
        <h1><a href="/">Blog</a></h1>
        <a href="/admin/login/" class="signin">Login for admin</a>
    </div>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
<body>
{% block content %}
    {% if user.username == "" %}
       <!--<a href='/login/'>Login</a> or <a href='/signup/'>Sign up</a>-->
        <p><a href="{% url 'blog:login' %}">Login</a> or <a href='/signup/'>Sign up</a></p>
    {% else %}
        <a href="{% url 'blog:logout' %}">Logout</a><br>
    {% endif %}
{% endblock %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="/{{post.id}}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                {% for comment in post.comment_set.all %}
                    <p><strong>{{comment.author.username}}</strong> {{ comment.text }}</p>
                {% endfor %}


                <form action="/post/{{post.id}}/" method="post">
                    {% csrf_token %}
                    <textarea name="comment_text"></textarea>
                    <input type="submit" value="OK">
                </form>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
